@import ".config/wofi/nord.css";

#window {
    background-color: @dark0;
    font-family: FiraCode Nerd Font;
    font-size: 14px;
}

#input {
    background-color: @dark3;
    color: @light2;
    margin: 8px;
}

#inner-box {
    background-color: @dark0;
    margin: 8px;
}

#outer-box {
    background-color: @dark0;
    margin: 8px;
}

#text {
    color: @light2;
    margin: 8px;
} 

#entry:selected {
    background-color: @dark3;
    margin: 2px;
}

#entry:selected * {
    background-color: @dark3;
    margin: 2px;
}
