/* polar night */
@define-color dark0 #2E3440;
@define-color dark1 #3B4252;
@define-color dark2 #434C5E;
@define-color dark3 #4C566A;

/* snow storm */
@define-color light0 #D8DEE9;
@define-color light1 #E5E9F0;
@define-color light2 #ECEFF4;

/* frost */
@define-color frost0 #8FBCBB;
@define-color frost1 #88C0D0;
@define-color frost2 #81A1C1;
@define-color frost3 #5E81AC;

/* aurora */
@define-color red       #BF616A;
@define-color orange    #D08770;
@define-color yellow    #EBCB8B;
@define-color green     #A3BE8C;
@define-color magenta   #B48EAD;

* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: @dark1;
}

tooltip {
    background: @dark1;
    border-color: @frost0;
    border-style: solid;
    border-width: 2px;
}

tooltip label {
    color: @frost0;
}

#cpu,
#memory,
#disk,
#network,
#workspaces,
#window,
#tray,
#battery,
#pulseaudio,
#clock {
    background: @dark1;
    color: @frost0;
    padding: 4px 16px;
}

#network.disabled,
#network.disconnected {
    color: @red;
}

#workspaces button {
    color: @dark3;
}
#workspaces button.active {
    color: @frost0;
}
#workspaces button.urgent {
    color: @yellow;
}
#workspaces button:hover {
    color: @frost3;
}

#battery.charging {
    color: @yellow;
}
#battery.critical {
    color: @frost0;
}
@keyframes blink {
    to {
        color: @red;
    }
}
#battery.warning:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: @red;
}
#pulseaudio.source-muted {
    color: @red;
}
