@import "nord.css";

/* Global */
* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

/* Transparent bar */
window#waybar {
    background: rgba(46, 52, 64, 0.85);
}

/* Tooltip */
tooltip {
    background: @dark0;
}
tooltip label {
    color: @frost0;
}

/* Common */
#cpu,
#memory,
#disk,
#network,
#workspaces,
#window,
#tray,
#battery,
#pulseaudio,
#clock {
    background: 0x00000000;
    color: @frost0;
    padding: 8px;
}

/* Network colours */
#network.disabled,
#network.disconnected {
    color: @red;
}

/* Workspaces */
#workspaces button {
    color: @dark3;
}
#workspaces button.active {
    color: @frost0;
}
#workspaces button.urgent {
    color: @yellow;
}
#workspaces button:hover {
    color: @frost3;
}

/* Battery colours */
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}

/* Audio colours */
#pulseaudio.muted {
    color: @red;
}
#pulseaudio.source-muted {
    color: @red;
}
