@import "nord.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: @dark1;
}

tooltip {
    background: @dark1;
    border-color: @frost0;
    border-style: solid;
    border-width: 2px;
}

tooltip label {
    color: @frost0;
}

#cpu,
#memory,
#disk,
#network,
#workspaces,
#window,
#tray,
#battery,
#pulseaudio,
#clock {
    background: @dark1;
    color: @frost0;
    padding: 4px 16px;
}

#network.disabled,
#network.disconnected {
    color: @red;
}

#workspaces button {
    color: @dark3;
}
#workspaces button.active {
    color: @frost0;
}
#workspaces button.urgent {
    color: @yellow;
}
#workspaces button:hover {
    color: @frost3;
}

#battery.charging {
    color: @yellow;
}
#battery.critical {
    color: @frost0;
}
@keyframes blink {
    to {
        color: @red;
    }
}
#battery.warning:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: @red;
}
#pulseaudio.source-muted {
    color: @red;
}
